
  body {
    background-image: url(../Images/home/background-home.jpeg);
    background-repeat: no-repeat;
  }
  
  /*  HEADER-------------------------------------------------------*/
  
  .home-header {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px black;
    color: white;
  }
  .top-header{
    display: flex;
    justify-content: space-between;
  }
  .logo{
    margin-top: 0.625rem;
    width: 14.1875rem;
    height: 9.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo img {
    width: 10.125rem;
    height: 8.875rem;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav ul{
    font-size: 1.875rem;
    display: flex;
    list-style: none;
  }
  
  nav ul li a {
    padding: 2.1875rem;
    text-decoration: none;
    color: white;
  }
  
  /*  HEADING-------------------------------------------------------*/
  
  .heading{
    width: 100%;
    height: 40.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .heading h1 {
    margin: 1rem;
    font-size: 4.8125rem;
  }
  
  .heading p {
    margin: 0;
    width: 43.75rem;
    font-size: 1.625rem;
    color: #ffeb00;
  }
  
  /* MAIN------------------------------------------------------- */
  
  main-header {
    width: 100%;
    height: 250rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    color: #4e4e4e;
    background-color: #fafafa;
  }
  
  main-header h2 {
    font-size: 3.4375rem;
  }
  
  /*WHY LEARN WITH US------------------------------------------------------- */
  
  .why-learn-with-us {
    text-align: center;
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
  }
  .why-learn-with-us .about-us {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.0625rem;
  }
  
  .why-learn-with-us .data-about-us {
    display: flex;
    width: 25rem;
    margin: 1.875rem 0rem 1.875rem 6.25rem;
  }
  .why-learn-with-us .data-about-us img {
    margin: 0.625rem;
  }
  
  /*  INFORMATION OFFERED------------------------------------------------------- */
  
  .information-offered {
    height: 71.875rem;
  }
  
  .info-support,
  .info-real-proyect,
  .info-dream-job {
    height: 18.75rem;
    margin: 1.5625rem;
    display: flex;
  }
  
  .info-real-proyect {
    flex-direction: row-reverse;
  }
  
  .information-content {
    font-size: 1.5625rem;
    padding: 2.1875rem 3.125rem 0rem 3.125rem;
  }
  /*para q esta eso*/
  .information-offered img {
    border-color: 4px black;
  }
  
  /*  EXPERIENCES------------------------------------------------------- */
  
  .experiences {
    text-align: center;
    margin-bottom: 8.125rem;
  }
  .block-experiences {
    width: 62.5rem;
    display: flex;
    justify-content: space-between;
  }
  
  .experiences h2 {
    width: 100%;
    margin-bottom: 5.625rem;
  }
  
  .experiences p {
    height: 15.625rem;
    width: 15.625rem;
    font-size: 1.5625rem;
    font-family: serif;
  }
  
  .experiences-content {
    margin: 1.25rem;
    padding: 0.625rem;
  }
  
  .experiences img {
    margin: 0.625rem;
  }
  
  /* FREQUENT QUESTIONS-------------------------------------------------------*/
  
  .frequent-questions {
    width: 62.5rem;
  }
  
  .frequent-questions h4 {
    text-align: center;
    font-size: 3.125rem;
  }
  
  .frequent-questions h5 {
    width: 100%;
    font-size: 1.875rem;
    margin: 2.5rem 0rem;
  }
  
  .frequent-questions p {
    font-size: 1.5625rem;
  }
  
  /* FOOTER ------------------------------------------- */
  
  footer {
    background-color: #313131;
    width: 100%;
    font-family: sans-serif;
    color: white;
  }
  
  .logos {
    width: 100%;
    height: 6.75rem;
    display: flex;
  }
  
  .logos .logo-learnit img {
    width: 8.8125rem;
    height: 8.125rem;
  }
  
  .socials-icons {
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .socials-icons ul {
    width: 24.375rem;
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
  
  /* FOOTER INFORMATION-------------------------------------------------------*/
  
  .footer-information {
    width: 100%;
    margin-top: 1.25rem 0rem 0.625rem 0rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
  }
  
  .footer-information ul {
    list-style: none;
    margin-top: 1.875rem;
    margin-right: 1.875rem;
  }
  
  .footer-information h4 {
    margin: 0.625rem 0rem 0rem 0rem;
  }
  
  .footer-information ul li {
    padding: 0.375rem;
  }
  
  .copyright {
    margin-top: 0.9375rem;
    text-align: center;
    font-size: 0.75rem;
  }

